
.inputField > input {
    border-radius: 6px;
    width: 750px;
    height: 41px;
    padding: 0px 5px 0px 20px;
    margin-inline: 34px 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    border: none;
    color: #0e6f31;
}

.inputField > input:focus{
    outline: none;
    border:2px solid #3d951b;
}
.inputField > button {
    border-radius: 6px;
    width: 100px;
    height: 41px;
    border: none;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, #a0f26d 25%, #0E6F31 100%);
  
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #fff;
  
    margin-right: auto;
}
.inputField > button:hover{
    background: #0e6f31;
}
.inputField{
    max-width: 941px;
    height: 41px;
    margin: 20px auto 0px auto;
    display: flex;
    align-items: center;
}
/* .basket{
    width: 34px;
    height: 38px;
  
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.basket-num{
    
   
    line-height: 100%;
    text-align: center;
    
    background: none;
    position: absolute;
    margin-left: 7px;
    margin-bottom: 2px;
    z-index: 2;
  } */
  /* container для изображения и текста */
.basket-container {
    position: relative; /* Для абсолютного позиционирования текста */
    display: inline-block;
  }
  
  .image-container {
    position: relative;
  }
  
  .basket-image {
    width: 34px;
    height: 38px;
  }
  
  .basket-num {
    position: absolute; /* Позиционирование текста поверх изображения */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-11%, -56%); /* Для точного центрирования */
    font-size: 16px;/* Размер текста */
    font-weight: 900; /* Жирный шрифт */
    color: #4aa317;
  }
  