.patronage-card {
    border-radius: 10px;
    width: 200px;
    height: 320px;
  
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.38);
    background: #fff;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.loadingBg {
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleStyle {
    width: 200px;
    height: 58px;
  
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 20px;
}
/* .textStyle {
    width: 235px;
    height: 120px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #111;
} */
.cardImage {
    border-radius: 50px 30px 50px 0;
    width: 154px;
    height: 151px;  
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.3);

    margin-top: 20px;
}
.cardButton {
    background-color: transparent !important;
    border: 2px solid #000 !important;
    border-radius: 10px !important;
    width: 173px;
    height: 49px;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 100% !important;
    text-align: center !important;
    color: #000 !important;

    display: flex !important;
        justify-content: center !important;
        align-items: center !important;
}
.buttonAdd{
    border-radius: 8px !important;
    border: none !important;
    width: 173px !important;
    height: 49px !important;
    background: linear-gradient(90deg, #a0f26d 25%, #0e6f31 100%) !important;
  
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 100% !important;
    color: #fff !important;
  
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.3) !important;
    margin-top: 5px;
  }
.textButton{
    text-decoration: none;
    color: #000 ;
}
.textAddButton{
    text-decoration: none;
    color: #fff ;
}
.textButton:hover{
    color: black;
}
.textAddButton:hover{
    color: green;
}
.cardButton:active, .cardButton:active, .cardButton:active{
    transform: scale(0.95);
}